@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0; /* Default to dark */
  --background-end-rgb: 0, 0, 0;
}

body {
  color: #fff;
  background: #020617; /* Slate 950 */
}
